<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="env/jscode/main.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px;
            /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <div class="root"></div>
    <div class="row">
        <div class="column1" style="background-color:#aaa;">
            <p>Player</p>
            <div class="user_score">0</div>
            <div class="user">
            </div>
        </div>
        <div class="column2" style="background-color:#ccc;">
            <p>COM</p>
            <div class="dealer_score">0</div>
            <div class="dealer"></div>
        </div>
    </div>
    <div class="input-console">
        <button id="generate-btn" class="play-btn">Play</button>
    </div>
</body>

</html>